{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}Кабинет менеджера{% endblock %}

{% block content %}
  <div class="dashboard-container">

    <div class="top-container">
      <div class="contact-data">
        <h2>Менеджер</h2>
        <div>
          <h2>Телефон</h2>
          <p>{{ request.user.phone_number }}</p>
        </div>
        <div>
          <h2>Email</h2>
          <p>{{ request.user.email }}</p>
        </div>
      </div>
      <div class="control-btns">
        <div id="add-client" class="add-client">
          <p>Добавить пользователя</p>
        </div>
        <div class="change-view">
          <div id="active-clients" class="active-clients">
            <p>Активные проекты</p>
          </div>
          <div id="finished-clients" class="finished-clients">
            <p>Завершённые проекты</p>
          </div>
        </div>
      </div>
    </div>

    <div id="active-container" class="active-container">
      <h1>Список активных проектов</h1>
      {% if active_clients %}
            {% for client in active_clients %}
              <div class="client-container">
                <div class="client-info">
                  <h2> {{ client.id }}. {{ client.first_name }} {{ client.last_name }}</h2>
                  <p>Услуга: <span>{{ client.service_type }}</span></p>
                  <p>Login: <span>{{ client.phone_number }}</span></p>
                  <p>Email: <span>{{ client.email }}</span></p>
                  <div class="contract">
                    <p>Дата заключения договора: <span>{{ client.contract_date }}</span></p>
                    <p>Номер договора: <span>{{ client.contract_id }}</span></p>
                  </div>
                </div>

                <div class="client-stages-container">
                  <h2>Cтатус</h2>
                  <div class="stage-elements">
                    <div class="stage-element">
                      <h3>1 этап</h3>
                      <p>Заказ исходной документации</p>
                    </div>
                    <div class="stage-element">
                      <h3>2 этап</h3>
                      <p>содержимое этапа разработки</p>
                    </div>
                  </div>
                </div>

                <div class="client-btns-container">
                  <h2>Действия</h2>
                  <div class="client-btns">
                    <div id="finish-btn" class="client-btn">Завершить проект</div>
                    <div id="notifi-btn" class="client-btn">Уведомить о новом этапе</div>
                    <div id="new-pass-btn" class="client-btn">Выслать новый пароль</div>
                  </div>
                </div>
<!--                
                <strong>Status:</strong> {{ client.status }}<br>
                <strong>Last Phase:</strong> {{ client.last_phase }}<br>
                <strong>Max Phases:</strong> {{ client.max_phases|join:", " }}<br> -->

              </div>
            {% endfor %}
    {% else %}
        <p>No active clients.</p>
    {% endif %}

    </div>

    <div id="finished-container" class="finished-container">
      <h1>Список завершённых проектов</h1>
      {% if completed_clients %}
        {% for client in completed_clients %}
          <div class="client-container">
            <div class="client-info">
              <h2> {{ client.id }}. {{ client.first_name }} {{ client.last_name }}</h2>
              <p>Услуга: <span>{{ client.service_type }}</span></p>
              <p>Login: <span>{{ client.phone_number }}</span></p>
              <p>Email: <span>{{ client.email }}</span></p>
              <div class="contract">
                <p>Дата заключения договора: <span>{{ client.contract_date }}</span></p>
                <p>Дата завершения: <span>{{ client.completion_date }}</span></p>
                <p>Номер договора: <span>{{ client.contract_id }}</span></p>
              </div>
            </div>
    
            <div class="client-stages-container">
              <h2>Cтатус</h2>
              <div class="stage-elements">
                <div class="stage-element">
                  <h3>1 этап</h3>
                  <p>Заказ исходной документации</p>
                </div>
                <div class="stage-element">
                  <h3>2 этап</h3>
                  <p>содержимое этапа разработки</p>
                </div>
              </div>
            </div>
    
            <div class="client-btns-container">
              <h2>Действия</h2>
              <div class="client-btns">
                <div class="client-btn client-btn-disabled" disabled>Проект завершен</div>
              </div>
            </div>
           </div>
            {% endfor %}

    {% else %}
        <p>No completed clients.</p>
    {% endif %}
    </div>

    <div id="add-container" class="add-container">
      <h1>Добавление пользователя</h1>
      <form action="">
        <div class="form-element-container">
          <p>1. Введите имя и фамилию</p>
          <input type="text" name="name" placeholder="Имя Фамилия">
        </div>
        <div class="radio-container">
          <p>2. Выберите услугу</p>
          <div class="radio-container-elements">
            <label>
                <input type="radio" name="serviceType" value="Перепланировка квартир" checked>
                <div class="radio-button">Перепланировка квартир</div>
            </label>
            <label>
                <input type="radio" name="serviceType" value="Перепланировка нежилых помещений">
                <div class="radio-button">Перепланировка нежилых помещений</div>
            </label>
            <label>
                <input type="radio" name="serviceType" value="Перепланировка нежилых зданий">
                <div class="radio-button">Перепланировка нежилых зданий</div>
            </label>
            <label>
                <input type="radio" name="serviceType" value="Кадастровые работы">
                <div class="radio-button">Кадастровые работы</div>
            </label>
          </div>
          
        </div>
        <div class="another-inputs">
          <div class="form-element-container">
            <p>3. Создание логина<br>(ввод телефона заказчика)</p>
            <input type="tel" name="name" placeholder="+7 (999) 999-99-99">
          </div>
          <div class="form-element-container">
            <p>4. Создание пароля</p>
            <input type="password" name="name" placeholder="Password">
          </div>
          <div class="form-element-container">
            <p>5. Ввод Email заказчика</p>
            <input type="email" name="name" placeholder="Email">
          </div>
          <div class="form-element-container">
            <p>6. Ввод номера договора</p>
            <input type="text" name="name" placeholder="№">
          </div>
          <div class="form-element-container">
            <p>7. Дата заключения договора</p>
            <input type="date" name="name">
          </div>
        </div>
        <input id="submitButton" class="submit-button" type="submit" value="Добавить пользователя">
      </form>
    </div>
  </div>

{% include 'includes/footer.html' %} 
{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}