{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/pages/404.css' %}">
{% endblock %}

{% block title %}404{% endblock %}

{% block content %}
  <div class="desktop">
    <div class="error-container">
      <div class="error-content">
        <h1>Упссссс...</h1>
        <p>Кажется, вы заблудились! Запрашиваемая страница временно недоступна. Попробуйте вернуться на Главную страницу или воспользуйтесь меню навигации для продолжения пути. Если у вас возникли вопросы, свяжитесь с нами - мы всегда рады помочь!</p>
        <a href="{% url 'main' %}">Вернуться домой</a>
      </div>
      <div class="error-img">
        <img src="{% static 'img/404.png' %}" alt="">
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="error-container">
        <h1>Упссссс...</h1>
        <img src="{% static 'img/404.png' %}" alt="">
        <p>Кажется, вы заблудились! Запрашиваемая страница временно недоступна. Попробуйте вернуться на Главную страницу или воспользуйтесь меню навигации для продолжения пути. Если у вас возникли вопросы, свяжитесь с нами - мы всегда рады помочь!</p>
        <a href="{% url 'main' %}">Вернуться домой</a>
    </div>
  </div>
{% include 'includes/bot-form.html' %} 
{% include 'includes/footer.html' %} 

{% endblock %}

{% block scripts %}
<script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}