{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}Проектный центр{% endblock %}

{% block content %}
  <h1 class="mobile-header">Проектный Центр – ваш надежный партнёр в реализации перепланировок</h1>
  <div class="content-container-img">
      <div class="header-content">
        <h2>Проектный Центр – ваш надежный партнёр в реализации перепланировок</h2>
        <a href="{% url 'form' %}" class="btn">Подать заявку</a>
      </div>
  </div>

  <div class="content-container">
    <h2>Услуги</h2>
    <div class="offers-slider" data-flickity='{
      "freeScroll": true, 
      "contain": true, 
      "prevNextButtons": false, 
      "pageDots": false
    }'>
      <div class="slider-element">
        <h3>Перепланировка<br>квартир</h3>
        <p>Наша компания позволит избежать трудностей при согласовании проектной документации с контролирующими инстанциями, тем самым сэкономив Ваши силы и нервы.</p>
        <a href="{% url 'apartments' %}">Подробнее</a>
      </div>
      <div class="slider-element">
        <h3>Перепланировка<br>нежилого помещения</h3>
        <p>Мы гарантируем быстрое и качественное согласование перепланировки  в нежилом помещении. Доверьтесь нам – мы обеспечим его идеальное обновление.</p>
        <a href="{% url 'spaces' %}">Подробнее</a>
      </div>
      <div class="slider-element">
        <h3>Перепланировка<br>нежилого здания</h3>
        <p>Наши эксперты гарантируют профессиональное согласование перепланировки в нежилых зданиях, учитывая все строительные и законодательные нормы.</p>
        <a href="{% url 'buildings' %}">Подробнее</a>
      </div>
      <div class="slider-element">
        <h3>Кадастровые<br>работы</h3>
        <p>Наша компания выполняет все виды кадастровых работ, в том числе изготовление технических планов, технических паспортов и обмерных планов в отношении любых объектов недвижимости.</p>
        <a href="{% url 'cadastr' %}">Подробнее</a>
      </div>
    </div>
    <div class="carousel-container">
      <div class="offers-slider-mobile carousel" data-flickity='{
        "freeScroll": false,
        "contain": true,
        "prevNextButtons": false,
        "pageDots": false
      }'>
        <div class="slider-element">
          <h3>Перепланировка<br>квартир</h3>
          <p>Наша компания позволит избежать трудностей при согласовании проектной документации с контролирующими инстанциями, тем самым сэкономив Ваши силы и нервы.</p>
          <a href="{% url 'apartments' %}">Подробнее</a>
        </div>
        <div class="slider-element">
          <h3>Перепланировка<br>нежилого помещения</h3>
          <p>Мы гарантируем быстрое и качественное согласование перепланировки  в нежилом помещении. Доверьтесь нам – мы обеспечим его идеальное обновление.</p>
          <a href="{% url 'spaces' %}">Подробнее</a>
        </div>
        <div class="slider-element">
          <h3>Перепланировка<br>нежилого здания</h3>
          <p>Наши эксперты гарантируют профессиональное согласование перепланировки в нежилых зданиях, учитывая все строительные и законодательные нормы.</p>
          <a href="{% url 'buildings' %}">Подробнее</a>
        </div>
        <div class="slider-element">
          <h3>Кадастровые<br>работы</h3>
          <p>Наша компания выполняет все виды кадастровых работ, в том числе изготовление технических планов, технических паспортов и обмерных планов в отношении любых объектов недвижимости.</p>
          <a href="{% url 'cadastr' %}">Подробнее</a>
        </div>
      </div>
      <div class="pagination">
        <div class="pagination-bar"></div>
      </div>
    </div>
    
  </div>

  {% include 'includes/complex.html' %}

  <div class="content-container">
    <h2>Калькулятор</h2>
    <div class="calculator-img">
      <h3>Калькулятор стоимости<br>перепланировки квартиры</h3>
      <a href="{% url 'calculator' %}" class="btn calc-btn">Подробнее</a>
    </div>
  </div>
  
  <div class="content-container">
    <h2>План нашей работы</h2>
    <div class="plan-preview">
      <div class="plan-element">
        <h3>01</h3>
        <p>Ознакомление с заявкой.<br>Общение с клиентом.<br>Сбор  необходимых данных<br>(планы/дизайн-проекты/<br>пожелания по перепланировке).</p>
      </div>
      <div class="plan-element">
        <h3>02</h3>
        <p>Анализ исходных данных.
          <br>Озвучивание стоимости.
          <br>Подписание договора.
          <br>Получение аванса (30%).
          <br>Получение доверенности.</p>
      </div>
      <div class="plan-element">
        <h3>03</h3>
        <p>Выезд на замер. Предоставляем эскизный план перепланировки<br>для согласования.<br>Работа над проектом, включая разработку и согласование. </p>
      </div>
    </div>
    <div class="carousel-container">
    <div class="plan-preview-mobile carousel" data-flickity='{
      "freeScroll": false,
      "contain": true,
      "prevNextButtons": false,
      "pageDots": false
    }'>
      <div class="plan-element">
        <h3>01</h3>
        <p>Ознакомление с заявкой.<br>Общение с клиентом.<br>Сбор  необходимых данных<br>(планы/дизайн-проекты/<br>пожелания по перепланировке).</p>
      </div>
      <div class="plan-element">
        <h3>02</h3>
        <p>Анализ исходных данных.
          <br>Озвучивание стоимости.
          <br>Подписание договора.
          <br>Получение аванса (30%).
          <br>Получение доверенности.</p>
      </div>
      <div class="plan-element">
        <h3>03</h3>
        <p>Выезд на замер. Предоставляем эскизный план перепланировки<br>для согласования.<br>Работа над проектом, включая разработку и согласование. </p>
      </div>
    </div>
    <div class="pagination">
      <div class="pagination-bar"></div>
    </div>
    </div>
  </div>

{% include 'includes/faq.html' %}
{% include 'includes/bot-form.html' %} 
{% include 'includes/footer.html' %} 

{% endblock %}

{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'js/accordeon.js' %}"></script>
{% endblock %}