/* base */

svg {
  flex-shrink: 0;
}

select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #222220;
  color: white;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none"><path d="M13.8687 0.878901L7.34572 7.84716C7.25399 7.94503 7.12964 8 7 8C6.87036 8 6.74601 7.94503 6.65428 7.84716L0.131302 0.878901C0.0448856 0.77983 -0.00216 0.648794 7.62193e-05 0.5134C0.00231244 0.378006 0.053656 0.248825 0.14329 0.153072C0.232924 0.0573193 0.353851 0.00247029 0.480593 8.14212e-05C0.607335 -0.00230745 0.729998 0.0479503 0.822738 0.140266L7 6.73833L13.1773 0.140266C13.27 0.0479503 13.3927 -0.00230745 13.5194 8.14212e-05C13.6461 0.00247029 13.7671 0.0573193 13.8567 0.153072C13.9463 0.248825 13.9977 0.378006 13.9999 0.5134C14.0022 0.648794 13.9551 0.77983 13.8687 0.878901Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* header */

.calc-description-container {
  margin: 100px auto;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items:flex-start;
  flex-wrap: wrap;
}

.calc-description {
  max-width: 459px;
}

.calc-description h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.calc-description p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
}

/* calculator */

.calculator-container {
  position: relative;
  padding: 50px 30px;
  margin: 100px auto;
  max-width: 1060px;
  border-radius: 20px;
  background: #222220;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* container */

.options-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}

/* districts */
.districts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 515px;
    gap: 20px 50px;
}

.districts-container-mobile {
  display: none;
}


.districts-container label {
  display: flex;
  width: 182px;
  height: 20px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  background-color: #222220;
  color: white;
  border: 1px solid #FFF;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  white-space: nowrap;
}

.districts-container input[type="radio"] {
  display: none;
}

.districts-container input[type="radio"]:checked + label {
  background-color: #fff;
  color: black;
  font-weight: 500;
}

 /* meters2 */
 
 .area-container {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 470px;
  padding: 20px;
  border-radius: 20px;
  line-height: 145%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  position: relative;
  height: 91px;
 }


.area-container h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 10px;
}

.area-container span {
font-size: 20px;
font-style: normal;
font-weight: 500;
}

.area-description {
  position: absolute;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 160px;
}

input[type="range"] {
  top: 130px;
  left: 20px;
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 40px);
  height: 4px;
  background: linear-gradient(to right, #FFF 0%, rgba(255, 255, 255, 0.4) 15%);
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 40px;
  background: url('../../img/runner.svg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url('runner.svg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background: none; /* Remove default track styling in Firefox */
}

input[type="range"]::-ms-track {
  width: 300px;
  height: 10px;
  background: none;
  border-color: transparent;
  color: transparent;
}

.checkbox-article {
  margin-top: 50px;
}

/* checkbox containers */

.options-article h3 {
  color: #FFF;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; 
  margin-bottom: 30px;
}


.checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 470px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px;
}

.checkbox-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox-element p {
  color: #FFF;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-right: 5px;
}

.checkbox-element svg {
  margin-left: 5px;
}

.checkbox-element label {
  margin-left: auto;
}

/* checkbox styling*/

.checkbox-ios {
	display: inline-block;    
	height: 28px;    
	line-height: 28px;        
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;
}

.checkbox-ios-switch {
  opacity: 0.6;
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 50px;	
	height: 26px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 25%/50%;	
	vertical-align: middle;
	background: white;
	transition: .2s;
}

.checkbox-ios-switch:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;	
	display: inline-block;
	width: 22px;	
	height: 22px;
	border-radius: 50%;
	background: #222220;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}

.checkbox-ios input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
	background: white;
  opacity: 1;
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
	transform:translateX(24px);
}
 
.checkbox-ios input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}

/* result block */

.result-container-wrapper {
  position: relative;
  pointer-events: none;
}

.result-container {
  display: flex;
  width: 415px;
  height: 351px;
  padding: 30px 20px;
  border-radius: 20px;
  background: #FFF;
  flex-direction: column;
  position: sticky;
  top: 20px;
  pointer-events: all;
}



.result-district,
.result-area,
.result-cost {
  color: rgba(34, 34, 32, 0.60);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}

.result-district,
.result-area {
  margin-bottom: 30px;
}

.result-cost {
  margin-bottom: 10px;
}

#resultContentDistrict,
#resultContentArea,
#resultContentCost {
  color: #222220;
}

#resultContentCost {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.apply-btn {
  display: flex;
  width: 367px;
  height: 60px;
  padding: 10px 24px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.apply-btn:visited {
  color: #FFF;
}

.arrow {
  display: block;
}

.arrow-mobile {
  display: none;
  width: 30px;
height: 18px;
}


@media (max-width: 1200px) {

  .calculator-container {
    position: relative;
    padding: 30px 20px;
    margin: 50px auto 359px;
    width: calc(100% - 40px);
    max-width: 1060px;
    border-radius: 20px;
    background: #222220;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .calc-description-container {
    margin: 100px auto 50px;
    max-width: 1120px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    align-items:flex-start;
    flex-wrap: wrap;
  }
  
  .calc-description {
    max-width: 459px;
  }
  
  .calc-description h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
  }
  
  .calc-description p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .calc-img img {
    display: none;
  }

  .calc-img {
    width: 100%;
    max-width: 459px;
    aspect-ratio: 272/170;
    border-radius: 20px;
    background: url('../../img/calc_mobile.png') lightgray 50% / cover no-repeat;
  }

  .options-container {
    width: 100%;
    max-width: 470px;
  }

  .options-article h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .districts-container {
    display: none;
  }

  .districts-container-mobile {
    display: block;
    width: 100%;
  }


  .area-container h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  .area-container span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  input[type="range"]::-webkit-slider-thumb {

    width: 24px;
    height: 24px;
    background: url('../../img/runner-mobile.svg') no-repeat center center;
  }

  .area-description {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  /* checkbox */

  .checkboxes-container {
    padding: 20px 10px;
  }

  .checkbox-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .checkbox-element p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0;
  }
  
  .checkbox-element svg {
    margin-left: 10px;
    width: 12px;
    height: auto;
  }

  .checkbox-element label {
    margin-left: 10px;
  }
/*  */
  

  .checkbox-ios-switch {
    width: 40px;
    height: 22px;
  }
  
  .checkbox-ios-switch:before {
    top: 0px;
    left: 0px;	
    width: 20px;	
    height: 20px;
  }

  .checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
    transform:translateX(18px);
  }

  .result-container-wrapper {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    height: calc(100% + 110px);
  }
  
  .result-container {
    box-shadow: 0px -3px 10px 0px rgba(34, 34, 32, 0.10), 0px 3px 10px 0px rgba(34, 34, 32, 0.10);
    width: calc(100% - 40px);
    height: auto;
    position: sticky;
    top: calc(100vh - 300px)
  }
  
  .result-district,
  .result-area,
  .result-cost {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  .result-district {
    margin-bottom: 9px;
  }

  .result-area {
    margin-bottom: 20px;
  }

  .result-cost {
    margin-bottom: 5px;
  }
  
  #resultContentDistrict,
  #resultContentArea,
  #resultContentCost {
    color: #222220;
  }
  
  #resultContentCost {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .apply-btn {
    padding: 10px 24px;
    width: 184px;
    height: 40px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: normal;
  }

  .arrow {
    display: none;
  }

  .arrow-mobile {
    display: block;
  }

}

/* dropdown mobile */

.checkbox-info {
  cursor: pointer;
}

.advice {
  display: none;
}

.modal {
  position: fixed;
  border-radius: 20px 20px 0px 0px;
  left: 0;
  width: calc(100vw - 48px);
  padding: 10px 24px 30px;
  height: auto;
  bottom: auto; 
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  transition: bottom 0.7s ease-in-out;
  z-index: 1000;
  display: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
}

.modal.show {
  bottom: 0; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal-overlay.show {
  display: block;
}

.checkbox-element {
  position: relative;
}

.tooltip {
  pointer-events: none;
  display: none;
  position: absolute;
  width: 240px;
  background: #FFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(-50%);
  left: 50%;
  bottom: calc(100% + 10px);
}