.dashboard-container {
  max-width: 1120px;
  margin: 166px auto 100px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
  margin-bottom: 100px;
}

.contact-data {
  padding: 20px 20px;
  width: 225px;
  height: 233px;
  border-radius: 20px;
  background: linear-gradient(180deg, #222220 0%, #383838 100%);
  display: flex;
  flex-direction: column;
  color: #FFF;
  justify-content: space-between;
  gap: 30px;
}

.contact-data h1,
.contact-data h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-data p {
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.control-btns {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}


.add-client , .change-view {
  max-width: 835px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid #222220;
  background: rgba(34, 34, 32, 0.00);
  color: #222220;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-client,
.active-clients,
.finished-clients,
.submit-button {
  cursor: pointer;
}

.active-clients {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  flex: 1;
}

.finished-clients {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #FFF;
  color: #222220;
  flex: 1;
}


 /* views */

.active-container {
  display: block;
}

.finished-container {
  display: none;
}

.add-container {
  display: none;
}

.active-container h1,
.finished-container h1,
.add-container h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; 
  margin-bottom: 80px;
}

.client-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #222220;
  max-width: 1080px;
  margin-bottom: 80px; 
  padding: 30px 20px 50px 20px; 
}

.client-container h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.client-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.client-info-mobile {
  display: none;
}

.client-info p {
  color: rgba(34, 34, 32, 0.6);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.client-info span {
  color: #222220;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contract {
  display: flex;
  gap: 50px;
}


/* stages */

.client-stages-container h2,
.client-btns-container h2 {
  margin-bottom: 30px;
}

.client-stages-container {
  margin-bottom: 50px;
}

.stage-elements {
  display: flex;
  justify-content: flex-start;
  gap: 9px;
  flex-wrap: wrap;
}

.stage-element {
  padding: 20px;
  width: 130px;
  /* height: 128px;  cant fit text */
  border-radius: 20px;
  border: 1px solid #222220;
  color: #222220;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  opacity: 0.6;
  word-wrap: break-word;

}

.stage-element-current {
  background: #222220;
  color: #FFF;
  opacity: 1;
}

.stage-element h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.stage-element p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.client-btns {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 40px;
}

.client-btn,
.client-finish-btn,
.client-notifi-btn,
.client-new-pass-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 362px;
  height: 80px;
  border-radius: 10px;
  background: #222220;
  color: #FFF;
  flex: 1;
  cursor: pointer;
  border: 1px solid #222220;
}

.client-finish-btn:hover,
.client-notifi-btn:hover,
.client-new-pass-btn:hover {
  color: #222220;
  background: #FFF;

}

.client-btn-disabled {
  opacity: 0.4;
  cursor: default;
}

/* form */
.add-container form {
  color: #FFF;
  padding: 50px;
  width: 1015px;
  height: 1230px;
  border-radius: 20px;
  border: 1px solid #222220;
  background: #222220;
}

/* radio */

.radio-container-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 25px;
}

.radio-button {
  width: 495px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #FFF;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .radio-button {
  background: #FFF;
  color: #222220;
}

/* input */
.form-element-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.radio-container {
  margin: 50px 0 50px;
}

.form-element-container p,
.radio-container p {
  color: #FFF;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.radio-container p {
margin-bottom: 30px;
}

.form-element-container input {
  padding: 0 20px;
  width: 380px;
  height: 80px;
  border-radius: 10px;
  background: #FFF;
}

.another-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}


.submit-button {
  margin-top: 80px;
  width: 426px;
  height: 80px;
  background: #FFF;
  border-radius: 20px;
  color: #222220;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.submit-button:hover {
  color: #FFF;
  background: #222220;
}


@media (max-width: 1000px) {
  .dashboard-container {
    margin: 110px auto 100px;
  }
  
  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    margin-bottom: 80px;
    flex-wrap: wrap;
  }
  
  .contact-data {
    gap: 20px;
    max-width: 232px;
    height: 173px;
    width: calc(100% - 40px);
    flex-shrink: 0;
  }

  .contact-data h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-data h2 {
    font-size: 16px;
  }
  
  .contact-data p {
    margin-top: 10px;
    font-size: 12px;
  }

  .control-btns {
    width: 100%;
    gap: 20px;
  }

  .add-client {
    order: 1;
    font-size: 16px;
    height: 80px;
  }

  .change-view {
    max-width: 835px;
    border-radius: 20px;
    border: 1px solid #222220;
    background: rgba(34, 34, 32, 0.00);
    color: #222220;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 20px 0;
    flex-direction: column;
    width: 272px;
    height: 100px;
    gap: 10px;
    font-size: 12px;
    background: #222220;
  }

  .active-clients,
  .finished-clients {
    width: 160px;
    height: 50px;
    flex: 0 1 auto;
  }
  
  .active-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #222220;
    color: #FFF;
  }
  
  .finished-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    color: #222220;
  }

  .active-container h1,
  .finished-container h1,
  .add-container h1 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .client-container {
    margin-bottom: 50px; 
    padding: 20px 20px 30px; 
  }

  .client-container h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
  }

  .client-info {
    display: none;
  }
  
  .client-info-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .client-info-mobile p {
    color: rgba(34, 34, 32, 0.6);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .client-info-mobile span {
    color: #222220;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* stages */
  
  .client-stages-container h2,
  .client-btns-container h2 {
    margin-bottom: 30px;
  }
  
  .client-stages-container {
    margin-bottom: 50px;
  }
  
  .stage-elements {
    display: flex;
    justify-content: flex-start;
    gap: 9px;
    flex-wrap: wrap;
  }
  
  .stage-element {
    width: 100%;
  }
  
  .stage-element-current {
    background: #222220;
    color: #FFF;
    opacity: 1;
  }
  
  .stage-element h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .stage-element p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .client-btns {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
   }
   
   .client-btn,
   .client-finish-btn,
   .client-notifi-btn,
   .client-new-pass-btn {
     height: 60px;
     flex: 0 1 auto;
   }

  /* add user */

  .add-container form {
    color: #FFF;
    padding: 20px;
    width: calc(100% - 40px);
    background: #FFF;
    height: auto;
  }

  .radio-container-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }

  .radio-container-elements label {
    width: 100%;
  }

  .radio-button {
    color: #222220;
    border: 1px solid #222220;
    width: 100%;
    height: 60px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.3;

  }

  input[type="radio"]:checked + .radio-button {
    background: #222220;
    color: #FFF;
    opacity: 1;
  }

  .form-element-container {
    gap: 20px;
    width: 100%;
  }

  .radio-container {
    margin: 30px 0 30px;
  }

  .form-element-container p,
  .radio-container p {
    color: #222220;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .radio-container p {
  margin-bottom: 20px;
  }

  .form-element-container input {
    height: 60px;
    width: calc(100% - 40px);
    border: 1px solid rgba(34, 34, 32, 0.3);
    font-size: 12px;
  }

  input[type="date"] {
    width: calc(100% - 40px);
  }

  .another-inputs {
    gap: 30px;
  }

  .submit-button {
    margin-top: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background: #222220;
    color: #FFF;
    height: 60px;
    border-radius: 10px;
  }

  .submit-button:hover {
    color: #222220;
    background: #FFF;
    border: 1px solid #222220;
  }
}