@import url('fonts.css');
@import url('normalize.css');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #222220;
}

.no-scroll {
  overflow: hidden;
}

a:visited {
  color: #FFF;
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

nav a:visited {
  color: #222220;
}

.container {
  position: relative;
  max-width: 1120px;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: 60px;
  margin: 0;
  padding: 0 20px;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: height 0.7s ease;
}

nav a, nav a:visited {
  color: #222220;
}

.nav-container {
  position: absolute;
  top: 10px;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 34px;
}

.nav-logo-mobile {
  display: none;
}

.nav-controls {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.nav-btns {
  display: flex;
  gap: 19px;
  align-items: center;
}

.nav-btns-mobile {
  display: none;
}

.nav-application {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  transition: 0.3s;
}

.nav-application:hover {
  color: #FFF;
  background-color: #222220;
}

.nav-lk {
  height: 32px;
  cursor: pointer;
}

/* dropdown menu */

.services-dropdown {
  display: none;
}

.dropdown-links {
  position: absolute;
  top: 35%;
  left: 36%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

#close-services {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* overlay when menu open */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222220;
  opacity: 0.4;
  z-index: 5;
}

.overlay.visible {
  display: block;
}

/* burger */

 .burger-nav-list a,
 .burger-nav-list a:visited,
 .burger-services-list a,
 .burger-services-list a:visited {
  color: #222220;
 }

 .burger-container {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
 }

 .burger-menu {
  width: 272px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 }
 
 .burger-close-btn {
  align-self: end;
  margin-bottom: 20px;
 }


 .burger-nav-list,
 .burger-services-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
 }

 #burger-services-button {
  cursor: pointer;
 }

 .burger-services-list {
  display: none;
  text-align: center;
 }

 .burger-form,
 .burger-form:visited {
  display: flex;
  width: 224px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  margin-bottom: 30px;
  border: 1px solid #222220;
}

.burger-form:hover {
  color: #222220;
  background: #FFF;
}

.burger-divider {
  margin-bottom: 30px;
  width: 100vw;
  height: 1px;
  opacity: 0.1;
  background: #222220;
}

.burger-contacts-smm {
  display: flex;
  gap: 16px;
}

.bold {
  font-weight: bold;
}

/* nav mobile */

@media (max-width: 1280px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 935px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  nav {
    width: calc(100% - 90px);
  }

  .nav-container {
    position: static;
    width: 100%;
  }

  .nav-logo-desktop {
    display: none;
  }

  .nav-logo-mobile {
    display: block;
  }

  .nav-controls {
    display: none;
  }

  .nav-btns {
    display: none;
  }

  .nav-btns-mobile {
    display: flex;
    gap: 16px;
  }
}

/* for custom slider pagination */


.pagination {
  display: none;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(244, 163, 42, 0.2);
  margin-top: 20px;
}

.pagination-bar {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #F4A32A;
  transition: width 0.3s ease;
}
