/* base */

.content-container, .content-container-img {
  margin: 100px auto;
  max-width: 1120px;
}

.content-container a,
.content-container a:visited,
.content-container-img a,
.content-container-img a:visited {
  color: #FFF;
}


.btn {
  display: flex;
  width: 184px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
}


/* header */

.mobile-header {
  display: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.content-container-img {
  margin-top: 160px;
  position: relative;
  max-width: 1120px;
  height: 561px;
  background: url(../img/main/header_img.png) 50% / cover no-repeat;
}

.content-container-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222220;
  opacity: 0.9;
  pointer-events: none;
  border-radius: 10px;
}

.header-content {
  position: absolute;
  top: 400px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  max-width: 819px;
  width: 100%;
  height: 64px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px 20px;
  color: #FFF;
}

.header-content h2 {
  line-height: 32px;
  letter-spacing: 0.48px; 
  max-width: 500px;
}

/* offers */ 

.content-container h2 {
  margin-bottom: 50px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

.offers-slider-mobile,
.plan-preview-mobile {
  display: none;
}

.offers-slider { 
  position: relative;
  width: 100%;
  overflow: visible;
}

.flickity-viewport {
  width: calc(100% + 80px);
}

.slider-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  width: 280px;
  height: 308px;
  border-radius: 20px;
  border: 1px solid #222220;
  margin-right: 50px;
}

.slider-element h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.slider-element p {
  position: absolute;
  top: 104px;
  font-weight: 400;
  line-height: 24px;
}

.slider-element a {
  display: flex;

  justify-content: center;
  align-items:center;
  width: 280px;
  height: 60px;
  background-color:#222220;
  border-radius: 20px;
  color: #FFF;
}

/* calculator */

.calculator-img {
  position: relative;
  max-width: 1068px;
  height: 288px;
  border-radius: 10px;
  background: url(../img/main/calc_img.png) center / cover no-repeat;
  padding-top: 127px;
  padding-left: 52px;
  gap: 20px;
}

.calculator-img h3 {
  margin-bottom: 20px;
  color: #FFF;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

/* plan */

.plan-preview {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
}

.plan-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  width: 280px;
  height: 206px;
  border-radius: 20px;
  background-color: #222220;
  color: #FFF;
  padding: 30px 20px;
}

.plan-element h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan-element p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.32px;
}

.flickity-page-dots {
  bottom: -22px;
}

.flickity-page-dots.dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  color: red;
}

/* mobile */

@media (max-width: 1200px) {
  .plan-element  {
    height: auto;
  }
}

@media (max-width: 935px) {

  .content-container, .content-container-img {
    margin: 50px auto;
    max-width: 1120px;
  }

  .content-container-img {
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: auto;
    aspect-ratio: 272 / 220;
  }

  .content-container-img::before {
    opacity: 0;
  }

  .content-container h2 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px; 
  }

  .mobile-header {
    display: block;
    margin-top: 100px;
  }

  .header-content {
    background: none;
    position: static;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  
  .header-content h2 {
    display: none;
  }

  .offers-slider,
  .plan-preview {
    display: none;
  }

  .offers-slider-mobile,
  .plan-preview-mobile {
    display: block;
  }

  .slider-element {
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 217px;
    height: 248px;
    margin-right: 16px;
  }

  .slider-element h3 {
    font-size: 16px;
    line-height: 24px;
  }
  
  .slider-element p {
    width: 217px;
    position: absolute;
    top: 78px;
    font-size: 12px;
    word-wrap: break-word;
    line-height: 20px;
  }

  .slider-element a {
    width: 100%;
    height: 60px;
  }

  .plan-element {
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 217px;
    height: 168px;
    margin-right: 16px;
  }
  
  .plan-element h3 {
    font-size: 20px;
  }
  
  .plan-element p {
    font-size: 12px;
    line-height: 20px; 
  }

  .flickity-viewport {
    width: 100%;
    overflow: visible;
  }

  .calculator-img {
    width: calc(100% - 40px);
    height: 118px;
    padding: 218px 20px 20px;
  }
  
  .calculator-img h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  
}

