{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/offers-main.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages/buildings.css' %}">
  <meta name="description" content="Требуется официально признать перепланировку нежилого здания в СПб? Наши специалисты помогут с проектированием, получением разрешительной документации и взаимодействием с государственными органами.">
{% endblock %}

{% block title %}Легализация перепланировки нежилых зданий в Санкт-Петербурге{% endblock %}

{% block content %}

<div class="header">
  <div class="header-content">
    <h2>Согласование перепланировки<br>в нежилом здании</h2>
    <a class="header-btn" href="{% url 'form' %}">Подобрать решение</a>
  </div>
</div>

<div class="offer-description">
  <h2>Об услуге</h2>
  <p>Наши эксперты гарантируют профессиональное согласование перепланировки в нежилых зданиях, учитывая все строительные и законодательные нормы.</p>
</div>

<div class="our-tasks">
  <h2>Задачи, которые мы решаем</h2>
  <div class="tasks-container">
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/tools.svg' %}" alt="">
      <p>Демонтаж и монтаж перегородок</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/buildings.svg' %}" alt="">
      <p>Постановка и снятие с учёта помещений в здании</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/change_sizes.svg' %}" alt="">
      <p>Изменение конфигурации и габаритов помещений</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/change_functionality.svg' %}" alt="">
      <p>Изменение функционального назначения здания</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/extend_flats.svg' %}" alt="">
      <p>Объединение или разделение  помещений в здании</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/new_entrance.svg' %}" alt="">
      <p>Устройство дополнительного входа</p>
    </div>
  </div>
  <div class="carousel-container">
  <div class="tasks-container-mobile carousel" data-flickity='{
    "freeScroll": false,
    "contain": true,
    "prevNextButtons": false,
    "pageDots": false
  }'>
    <div class="tasks-column">
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/tools.svg' %}" alt="">
        <p>Демонтаж и монтаж перегородок</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/change_sizes.svg' %}" alt="">
        <p>Изменение конфигурации и габаритов помещений</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/extend_flats.svg' %}" alt="">
        <p>Объединение или разделение  помещений в здании</p>
      </div>
    </div>  
    <div class="tasks-column">
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/buildings.svg' %}" alt="">
        <p>Постановка и снятие с учёта помещений в здании</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/change_functionality.svg' %}" alt="">
        <p>Изменение функционального назначения здания</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/new_entrance.svg' %}" alt="">
        <p>Устройство дополнительного входа</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-bar"></div>
  </div>
  </div>
</div>

<div class="stages">
  <h2>Этапы и сроки</h2>
  <div class="stages-container">
    <div class="stages-element">
      <h3>1 этап</h3>
      <p>Получение исходной документации</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>2 этап</h3>
      <p>Разработка проекта перепланировки </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>2 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>3 этап</h3>
      <p>Подготовка документов</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>4 этап</h3>
      <p>Получение акта рабочей комиссии</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>5 этап</h3>
      <p>Изготовление технического плана</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>6 этап</h3>
      <p style="letter-spacing: -0.32px">Регистрация изменений в Росреестре</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 дня</p>
      </div>
    </div>
  </div>
  <div class="carousel-container">
  <div class="stages-container-mobile carousel" data-flickity='{
    "freeScroll": false,
    "contain": true,
    "prevNextButtons": false,
    "pageDots": false
  }'>
    <div class="stages-element">
      <h3>1 этап</h3>
      <p>Получение исходной документации</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>2 этап</h3>
      <p>Разработка проекта перепланировки </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>2 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>3 этап</h3>
      <p>Подготовка документов</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>4 этап</h3>
      <p>Получение акта рабочей комиссии</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>5 этап</h3>
      <p>Изготовление технического плана</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 дня</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>6 этап</h3>
      <p>Регистрация изменений в Росреестре</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 дня</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-bar"></div>
  </div>
  </div>
</div>
{% include 'includes/complex.html' %}  
{% include 'includes/faq.html' %}
{% include 'includes/bot-form.html' %} 
{% include 'includes/footer.html' %} 

{% endblock %}

{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'js/accordeon.js' %}"></script>
{% endblock %}