{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/offers-main.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages/spaces.css' %}">
  <meta name="description" content="Нужно официально признать перепланировку нежилого помещения в СПб? Наши специалисты предложат полный цикл услуг: от разработки проекта до согласования с местными властями. Обратитесь к нам для консультации!">
{% endblock %}

{% block title %}Легализация перепланировки нежилых помещений в Санкт-Петербурге{% endblock %}

{% block content %}

<div class="header">
  <div class="header-content">
    <h2>Согласование перепланировки<br>нежилого помещения </h2>
    <a class="header-btn" href="{% url 'form' %}">Подобрать решение</a>
  </div>
</div>

<div class="offer-description">
  <h2>Об услуге</h2>
  <p>Мы гарантируем быстрое и качественное согласование перепланировки  в нежилом помещении. Доверьтесь нам – мы обеспечим его идеальное обновление.</p>
</div>

<div class="our-tasks">
  <h2>Задачи, которые мы решаем</h2>
  <div class="tasks-container">
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/tools.svg' %}" alt="">
      <p>Демонтаж и монтаж перегородок</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/extra_bath.svg' %}" alt="">
      <p>Устройство дополнительных санузлов</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/change_sizes.svg' %}" alt="">
      <p>Изменение конфигурации и габаритов помещений</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/change_functionality.svg' %}" alt="">
      <p>Изменение функционального назначения помещения</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/extend_flats.svg' %}" alt="">
      <p>Объединение или разделение нежилых помещений</p>
    </div>
    <div class="tasks-element">
      <img src="{% static 'img/tasks_icons/new_entrance.svg' %}" alt="">
      <p>Устройство дополнительного входа</p>
    </div>
  </div>
  <div class="carousel-container">
  <div class="tasks-container-mobile carousel" data-flickity='{
    "freeScroll": false,
    "contain": true,
    "prevNextButtons": false,
    "pageDots": false
  }'>
    <div class="tasks-column">
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/tools.svg' %}" alt="">
        <p>Демонтаж и монтаж перегородок</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/change_sizes.svg' %}" alt="">
        <p>Изменение конфигурации и габаритов помещений</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/extend_flats.svg' %}" alt="">
        <p>Объединение или разделение нежилых помещений</p>
      </div>
    </div>
    <div class="tasks-column">
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/extra_bath.svg' %}" alt="">
        <p>Устройство дополнительных санузлов</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/change_functionality.svg' %}" alt="">
        <p>Изменение функционального назначения помещения</p>
      </div>
      <div class="tasks-element">
        <img src="{% static 'img/tasks_icons/new_entrance.svg' %}" alt="">
        <p>Устройство дополнительного входа</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-bar"></div>
  </div>
  </div>
</div>

<div class="stages">
  <h2>Этапы и сроки</h2>
  <div class="stages-container">
    <div class="stages-element">
      <h3>1 этап</h3>
      <p>Заказ исходной документации</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>2 этап</h3>
      <p>Разработка проекта перепланировки </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>2 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>3 этап</h3>
      <p>Согласование с пожарным надзором и Роспотребнадзором</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>4 этап</h3>
      <p>Согласование документации в МВК</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>5 этап</h3>
      <p>Ввод в эксплуатацию  </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>6 этап</h3>
      <p>Подготовка технического плана и регистрация в Росреестре</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
  </div>
  <div class="carousel-container">
  <div class="stages-container-mobile carousel" data-flickity='{
    "freeScroll": false,
    "contain": true,
    "prevNextButtons": false,
    "pageDots": false
  }'>
    <div class="stages-element">
      <h3>1 этап</h3>
      <p>Заказ исходной документации</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>2 этап</h3>
      <p>Разработка проекта перепланировки </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>2 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>3 этап</h3>
      <p>Согласование с пожарным надзором и Роспотребнадзором</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>4 этап</h3>
      <p>Согласование документации в МВК</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>4 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>5 этап</h3>
      <p>Ввод в эксплуатацию  </p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>3 недели</p>
      </div>
    </div>
    <div class="stages-element">
      <h3>6 этап</h3>
      <p>Подготовка технического плана и регистрация в Росреестре</p>
      <div class="stages-time">
        <img src="{% static 'img/tasks_icons/calendar.svg' %}" alt="">
        <p>1 неделя</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-bar"></div>
  </div>
  </div>
</div>
{% include 'includes/complex.html' %}  
{% include 'includes/faq.html' %}
{% include 'includes/bot-form.html' %} 
{% include 'includes/footer.html' %} 

{% endblock %}

{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'js/accordeon.js' %}"></script>
{% endblock %}