{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/includes/bot-form.css' %}">
{% endblock %}

<div class="form-container">
  <div class="form-container-text">
    <h2>Мы делаем планировку быстро и качественно</h2>
    <p>Мы активно вовлекаемся в проект клиента, и берем на себя полную ответственность. </p>
  </div>

  <div class="form-container-form">
    <form action="#">

      <div class="radio-container">
        <label>
            <input type="radio" name="replanning" value="apartments" checked>
            <div class="radio-button">Перепланировка квартир</div>
        </label>
        <label>
            <input type="radio" name="replanning" value="non-residential">
            <div class="radio-button">Перепланировка<br>нежилых помещений</div>
        </label>
        <label>
            <input type="radio" name="replanning" value="residential">
            <div class="radio-button">Перепланировка жилых зданий</div>
        </label>
        <label>
            <input type="radio" name="replanning" value="cadastral">
            <div class="radio-button">Кадастровые работы</div>
        </label>
      </div>

    <div class="input-container">
      <div class="name-tel-container">
        <div class="input-name">
          <input type="text" placeholder="Имя" required>
        </div>
        <div class="input-tel">
          <input type="tel" placeholder="Номер телефона" required>
        </div></div>
      
      <div class="input-message">
          <input type="text" placeholder="Ваше сообщение">
      </div>
      <label class="custom-checkbox">
        <input type="checkbox" id="customCheckbox">
        <span class="custom-checkbox-img"></span>
        <span>Я соглашаюсь с условиями обработки и использования<br>моих персональных данных.</span>
      </label>
      <input id="submitButton" class="request-send" type="submit" value="Подать заявку" disabled>
    </div>
    

    </form>
  </div>
</div>

{% block scripts %}
<script src="{% static 'js/checkbox.js' %}"></script>
{% endblock %}