{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/includes/complex.css' %}">
{% endblock %}

<div class="content-container">
  <h2>Пакетные предложения</h2>
  <div class="complex-preview">
    {% if current_url == '/apartments/' %}
    <div class="complex-element">
      <h3>Старт пакет</h3>
      <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
      <p class="element-price">от 20 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический паспорт</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Согласование перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Проект перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Проект переустройства квартиры</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Стандарт пакет</h3>
      <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
      <p class="element-price">от 40 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Все услуги, входящие в Старт пакет</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Переобмер помещения после работ по перепланировке</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Документы для ввода в эксплуатацию</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический план</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Премиум пакет</h3>
      <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
      <p class="element-price">от 80 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Сбор и подготовка всех документов</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Согласование перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Ввод в эксплуатацию квартиры</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Получение новой выписки ЕГРН</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    {% endif %}
    {% if current_url == '/spaces/' %}
    <div class="complex-element">
      <h3>Старт пакет</h3>
      <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
      <p class="element-price">от 30 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический паспорт</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Поэтажные планы</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Акт обследования вентканалов</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Проект перепланировки и переустройства</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Стандарт пакет</h3>
      <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
      <p class="element-price">от 50 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Все услуги, входящие в Старт пакет</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Переобмер помещения после работ по перепланировке</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Документы для ввода в эксплуатацию</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический план</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Премиум пакет</h3>
      <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
      <p class="element-price">от 95 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Сбор и подготовка всех документов</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Согласование перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Ввод в эксплуатацию</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Получение новой выписки ЕГРН</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    {% endif %}
    {% if current_url == '/buildings/' %}
    <div class="complex-element">
      <h3>Старт пакет</h3>
      <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
      <p class="element-price">от 10 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический паспорт</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Согласование перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Проект перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Проект переустройства здания</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Стандарт пакет</h3>
      <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
      <p class="element-price">от 30 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Все услуги, входящие в Старт пакет</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Переобмер помещения после работ по перепланировке</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Акт ввода в эксплуатацию</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Технический план</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    <div class="complex-element">
      <h3>Премиум пакет</h3>
      <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
      <p class="element-price">от 50 000 ₽</p>
      <div class="complex-content">
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Сбор и подготовка всех документов</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Согласование перепланировки</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Ввод в эксплуатацию</p>
        </div>
        <div class="content-element">
          <img src="{% static 'img/main/check_icon.svg' %}" alt="">
          <p>Получение новой выписки ЕГРН</p>
        </div>
      </div>
      <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
    </div>
    {% endif %}
  </div>
  <div class="carousel-container">
    <div class="complex-preview-mobile carousel" class="offers-slider-mobile" data-flickity='{
      "freeScroll": false,
      "contain": true,
      "prevNextButtons": false,
      "pageDots": false
    }'>
      {% if current_url == '/apartments/' or current_url == '/' %}
      <div class="complex-element">
        <h3>Старт пакет</h3>
        <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
        <p class="element-price">от 20 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический паспорт</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Согласование перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Проект перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Проект переустройства квартиры</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Стандарт пакет</h3>
        <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
        <p class="element-price">от 40 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Все услуги, входящие в Старт пакет</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Переобмер помещения после работ по перепланировке</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Документы для ввода в эксплуатацию</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический план</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Премиум пакет</h3>
        <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
        <p class="element-price">от 80 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Сбор и подготовка всех документов</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Согласование перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Ввод в эксплуатацию квартиры</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Получение новой выписки ЕГРН</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      {% endif %}
      {% if current_url == '/spaces/' %}
      <div class="complex-element">
        <h3>Старт пакет</h3>
        <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
        <p class="element-price">от 30 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический паспорт</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Поэтажные планы</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Акт обследования вентканалов</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Проект перепланировки и переустройства</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Стандарт пакет</h3>
        <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
        <p class="element-price">от 50 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Все услуги, входящие в Старт пакет</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Переобмер помещения после работ по перепланировке</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Документы для ввода в эксплуатацию</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический план</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Премиум пакет</h3>
        <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
        <p class="element-price">от 95 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Сбор и подготовка всех документов</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Согласование перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Ввод в эксплуатацию</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Получение новой выписки ЕГРН</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      {% endif %}
      {% if current_url == '/buildings/' %}
      <div class="complex-element">
        <h3>Старт пакет</h3>
        <p class="element-description">Начните свой проект с нами<br>(проект + документы)</p>
        <p class="element-price">от 10 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический паспорт</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Согласование перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Проект перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Проект переустройства здания</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Стандарт пакет</h3>
        <p class="element-description">Улучшенный путь к вашему идеальному проекту</p>
        <p class="element-price">от 30 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Все услуги, входящие в Старт пакет</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Переобмер помещения после работ по перепланировке</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Акт ввода в эксплуатацию</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Технический план</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      <div class="complex-element">
        <h3>Премиум пакет</h3>
        <p class="element-description">Потребуется только доверенность, всё остальное сделаем мы</p>
        <p class="element-price">от 50 000 ₽</p>
        <div class="complex-content">
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Сбор и подготовка всех документов</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Согласование перепланировки</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Ввод в эксплуатацию</p>
          </div>
          <div class="content-element">
            <img src="{% static 'img/main/check_icon.svg' %}" alt="">
            <p>Получение новой выписки ЕГРН</p>
          </div>
        </div>
        <a href="{% url 'form' %}" class="complex-btn">Подать заявку</a>
      </div>
      {% endif %}
    </div>
    <div class="pagination">
      <div class="pagination-bar"></div>
    </div>
  </div>
</div>