{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/includes/faq.css' %}">
{% endblock %}

  <div class="faq-container">
    <div class="faq-header">
      <h2>Часто задаваемые вопросы</h2>
    </div>
    <div class="faq-accordeon">
      <div class="accordeon-item">
        <div class="question">
          <h3>Какие помещения можно перепланировать?</h3>
          <img src="{% static 'img/main/accordeon_button.svg' %}" alt="open/close">
        </div>
        <div class="answer">Перепланировка может затронуть различные помещения, включая квартиры, офисы,магазины, складские помещения, рестораны и другие.</div>
      </div>
      <div class="accordeon-item">
        <div class="question">
          <h3>Какие документы требуются для перепланировки?</h3>
          <img src="{% static 'img/main/accordeon_button.svg' %}" alt="open/close">
        </div>
        <div class="answer">Документы могут включать: планы помещения, технические условия, согласования с соседями, разрешения от управляющей компании, санитарно-эпидемиологическое заключение и др.</div>
      </div>
      <div class="accordeon-item">
        <div class="question">
          <h3>Как долго длится процесс перепланировки и что он включает?</h3>
          <img src="{% static 'img/main/accordeon_button.svg' %}" alt="open/close">
        </div>
        <div class="answer">Документы могут включать: планы помещения, технические условия, согласования
          с соседями, разрешения от управляющей компании, санитарно-эпидемиологическое заключение и др.</div>
      </div>
      <div class="accordeon-item">
        <div class="question">
          <h3>Могу ли я самостоятельно подать документы на перепланировку?</h3>
          <img src="{% static 'img/main/accordeon_button.svg' %}" alt="open/close">
        </div>
        <div class="answer">Вы можете подать документы самостоятельно.Tем не менее, независимо от выбранного способа, необходимо обратиться в проектную организацию для разработки перепланировочного проекта, а также к кадастровому инженеру для проведения переизмерений помещений после завершения ремонта.</div>
      </div>
      <div class="accordeon-item accordeon-item-last">
        <div class="question">
          <h3>Как узнать статус моей заявки на перепланировку?</h3>
          <img src="{% static 'img/main/accordeon_button.svg' %}" alt="open/close">
        </div>
        <div class="answer">Информацию о статусе заявки можно уточнить через регулярные обращения в соответствующие инстанции, а также через личный кабинет на нашем сайте, где будут отображены все этапы работы по заявке. Также вы можете запросить информацию по телефону или отправить запрос по электронной почте.</div>
      </div>
      
    </div>
  </div>