.error-container {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1120px;
  gap: 50px;
}

.error-content {
  display: flex;
  flex-direction: column;
  max-width: 475px;
}

.error-content h1 {
  margin-bottom: 30px;

}

.error-content p {
  margin-bottom: 50px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;

}

.error-content a {
  width: 232px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.error-img {
  margin-bottom: 50px;
}