/* base */
.content-container {
  max-width: 1120px;
  margin: 160px auto 100px;
}

.about-header,
.about-facts,
.about-advantages,
.about-clients,
.about-certificates {
  margin: 100px auto 100px;
}

.about-advantages h2,
.about-clients h2,
.about-certificates h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.about-to-form,
.about-to-form-header {
  display: flex;
  width: 232px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #222220;
}

.about-to-form,
.about-to-form:visited,
.about-to-form-header,
.about-to-form-header:visited {
  color: #FFF;
}

.about-to-form:hover,
.about-to-form-header:hover {
  color: #222220;
  background: #FFF;
}

/* header */

.about-header h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.about-header p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  margin-bottom: 30px;
}

/* facts */

.about-facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.facts-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 220px;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; 
}

/* advantages */

.advantages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.advantages-container-mobile {
  display: none;
}

.advantages-element {
  padding: 30px 20px;
  width: 280px;
  height: 262px;
  border-radius: 20px;
  border: 1px solid #222220;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-element h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.advantages-element p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* clients */

.clients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 50px;
    flex-wrap: wrap;
}

.clients-container-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}

.clients-element {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 203px;
  height: 130px;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* certificates */

.certificates-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificates-container-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.certificates-container a,
.certificates-container-mobile a {
  color: #FFF;
}

.certificates-element {
  width: 265px;
  height: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #222220;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.pdf-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 92px;
  border-radius: 20px;
  border: 1px solid #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.certificates-element p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 935px) {

  .content-container {
    margin: 100px auto 50px;
  }

  .about-header,
  .about-facts,
  .about-advantages,
  .about-clients,
  .about-certificates {
    margin: 50px auto;
  }

  .about-header h1 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  
  .about-header p {
    font-size: 12px;
    line-height: 20px;
  }
  
  .about-advantages h2,
  .about-clients h2,
  .about-certificates h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .about-to-form-header {
    width: 224px;
    height: 40px;
    flex-shrink: 0;
  }

  .about-facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .facts-element {
    flex-shrink: 0;
    width: 272px;
    height: 80px;
    font-size: 12px;
    line-height: 20px; 
  }

  .advantages-container {
    display: none;
  }

  .advantages-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }
  
  .advantages-element {
    margin-right: 16px;
    width: 232px;
    height: 208px;
    padding: 20px;
    flex-shrink: 0;
  }
  
  .advantages-element h3 {
    font-size: 16px;
    line-height: 24px;
  }
  
  .advantages-element p {
    font-size: 12px;
    line-height: 20px;
  }

  .about-to-form {
    width: 184px;
    height: 40px;
    padding: 10px 24px;
  }

  .flickity-viewport {
    width: 100%;
    overflow: visible;
  }
  
  .clients-container {
    display: none;
  }

  .clients-container-mobile {
    display: flex;
  }

  .clients-element {
    width: 163px;
    height: 110px;
    padding: 20px;
    flex-shrink: 0;
    font-size: 12px;
    margin-right: 16px;
  }
  
  .certificates-element {
    width: 88px;
    height: 130px;
    padding: 20px;
    gap: 10px;
    margin-right: 16px;
  }
  
  .pdf-icon {
    width: 80px;
    height: 80px;
    font-size: 20px;
    flex-shrink: 0;
  }
  
  .certificates-element p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
  
}

@media (max-width: 450px) {

  .about-to-form-header {
    width: calc(100% - 50px);
  }

  .about-to-form {
    width: calc(100% - 50px);
  }

  .facts-element {
    width: 100%; 
  }

  .pagination {
    display: block;
  }

  .advantages-element {
    width: calc(100% - 40px);
  }

  .clients-element {
    width: calc(100% - 40px);
  }

  .certificates-element {
    width: 45%;
  }

  .certificates-container {
    display: none;
  }

  .certificates-container-mobile {
    display: flex;
  }
}