/* base */
.content-container {
  max-width: 1120px;
  margin: 100px auto;
}

.about-header,
.about-facts,
.about-advantages,
.about-clients,
.about-certificates {
  margin: 100px auto 100px;
}

.about-advantages h2,
.about-clients h2,
.about-certificates h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.about-to-form {
  display: flex;
  width: 232px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* header */

.about-header h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.about-header p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  margin-bottom: 30px;
}

/* facts */

.about-facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.facts-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 220px;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; 
}

/* advantages */

.advantages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.advantages-element {
  padding: 30px 20px;
  width: 280px;
  height: 262px;
  border-radius: 20px;
  border: 1px solid #222220;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-element h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.advantages-element p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* clients */

.clients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px 50px;
    flex-wrap: wrap;
}

.clients-element {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 203px;
  height: 130px;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* certificates */

.certificates-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificates-container a {
  color: #FFF;
}

.certificates-element {
  width: 265px;
  height: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #222220;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.pdf-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 92px;
  border-radius: 20px;
  border: 1px solid #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.certificates-element p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}