/* diff */

.header {
  background: url(../../img/offers/buildings_img.jpg) 50% / cover no-repeat;
}

.tasks-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.stages-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 80px;
}

.stages-container-mobile {
  display: none;
}

@media (max-width: 935px) {

  .header {
    background: url(../../img/offers/buildings_img_mobile.png) 50% / cover no-repeat;
  }
  
  .header h2 {
    top: 312px;
    max-width: 272px;
  }

  .tasks-container {
    margin-top: 30px;
  }

  .stages-container {
    display: none;
  }

  .stages-container-mobile {
    display: flex;
    margin-top: 30px;
  }

}

@media (max-width: 640px) {
  
  .tasks-container {
    display: none;
  }

}