/* diff */

.header {
  background: url(../../img/offers/cadasr_img.jpg) 50% / cover no-repeat;
}

.tasks-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.stages-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 80px;
}

.header h2 {
  top: 582px;
}

/* cadastr offers */

.cadastr-offers {
  margin: 100px auto;
  max-width: 1120px;
}

.cadastr-offers h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-bottom: 50px;
}

.cadastr-offers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 80px;
}

.cadastr-offers-container-mobile {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.cadastr-offers-element {
  position: relative;
  padding: 30px 20px;
  width: 280px;
  height: 203px;
  border-radius: 20px;
  border: 1px solid #222220;
}

.cadastr-offers-element h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cadastr-offers-element p {
  position: absolute;
  top: 116px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cadastr-offers-element a {
  position: absolute;
  top: 173px;
  display: flex;
  width: 232px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220;
  color: #FFF;
}

.cadastr-offers-element a:hover {
  background: #FFF;
  color: #222220;
  border: 1px solid #222220;
}

.stages-container-mobile {
  display: none;
}

@media (max-width: 935px) {

  .header {
    background: url(../../img/offers/cadasr_img_mobile.png) 50% / cover no-repeat;
  }
  
  .header h2 {
    top: 374px;
  }

  .tasks-container {
    margin-top: 30px;
  }

  .stages-container {
    display: none;
  }

  .stages-container-mobile {
    display: flex;
    margin-top: 30px;
  }

}

@media (max-width: 640px) {
  
  .tasks-container {
    display: none;
  }

  .cadastr-offers {
    margin: 50px auto;
  }

  .cadastr-offers h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cadastr-offers-container {
    display: none;
  }

  .cadastr-offers-container-mobile {
    display: flex;
  }

  .cadastr-offers-element {
    width: 232px;
    height: 170px;
    padding: 20px;
    flex-shrink: 0;
    margin-right: 16px;
  }
  
  .cadastr-offers-element h3 {
    font-size: 16px;
    line-height: 24px;
  }
  
  .cadastr-offers-element p {
    position: absolute;
    top: 78px;
    font-size: 16px;

  }
  
  .cadastr-offers-element a {
    left: 20px;
    top: 130px;
    width: 174px;
    height: 40px;
  }

}

@media (max-width: 450px) {

  .cadastr-offers-element {
    width: calc(100% - 40px);
  }

  .cadastr-offers-element a {
    left: 20px;
    width: calc(100% - 88px);
  }
}