
.contacts-container {
  max-width: 1120px;
  margin: 160px auto;
}

.contacts-container h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.contacts-bloсk {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.map {
 width: 455px;
 height: 504px;
 border: none;
 border-radius: 20px;
 overflow: hidden;
}

.contacts {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts h3 {
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
}

.contacts-element, .email-link {
  margin-bottom: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.contacts-element, .contacts-element:visited {
  color: #222220;
}

.email-link, .email-link:visited {
  color: #103873;
}

@media (max-width: 935px) {
  .contacts-container {
    margin: 100px auto 50px;
  }

  .contacts-container h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .map {
    max-width: 455px;
    width: 100%;
    height: auto;
    order: 1;
    aspect-ratio: 272/179;
    object-fit: cover;
  }

  .contacts {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contacts h3 {
    font-size: 20px;
    line-height: 28px;
    }
    
  .contacts-element, .email-link {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }


}