.politic-container {
  max-width: 1120px;
  margin: 100px auto 150px;
}

.politic-container h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%; 
  margin-bottom: 30px;
}

.politic-container p {  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.fz-link {
  text-decoration: underline;
  color: #222220;
}

.fz-link:visited {
  text-decoration: underline;
  color: #222220;
}

.main-link, .main-link:visited  {
  color: #194F9E;
  font-weight: 500;
}

@media (max-width: 935px) {
  .politic-container {
    margin: 100px auto 100px;
  }

  .politic-container h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .politic-container p {  
    font-size: 16px;
  }



}