.login-container {
  margin: 166px auto 100px;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 80px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.login-input, .login-btn {
  border-radius: 10px;
}

.login-input-container {
  position: relative;
}

.login-input {
  width: 426px;
  height: 22px;
  padding: 29px 20px;
  border: 1px solid rgba(34, 34, 32, 0.4);
  transition: 0.3s ease-out;
}

.login-input-label,
.password-input-label {
  display: none;
  position: absolute;
  top: 16px;
  left: 20px;
  color: #0041C0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  pointer-events: none;
}

.login-input:focus,
.login-input:not(:placeholder-shown) {
  height: 22px;
  padding: 42px 20px 16px;
}

.login-input:focus + .login-input-label,
.login-input:not(:placeholder-shown) + .login-input-label {
    display: block;
}

.login-input:focus + .password-input-label,
.login-input:not(:placeholder-shown) + .password-input-label {
    display: block;
}

.login-btn {
  width: 466px;
  height: 80px;
  margin: 20px 0 30px;
  background: #222220;
  border: none;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-btn:disabled {
  opacity: 0.4;
}


.login-container a, 
.login-container a:visited  {
  color: rgba(34, 34, 32, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-response-text,
.pass-response-text {
  position: absolute;
  color: #FF0F00;
  top: 84px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 520px) {
  .login-container {
    margin: 110px auto 50px;
  }
  
  .login-container h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
  }

  .login-input-container {
    width: 100%;
    margin: 0 auto;
  }

  .login-input {
    width: calc(100% - 42px);
    height: 40px;
    padding: 20px;
  }

  .login-input-label,
  .password-input-label {
    display: none;
    position: absolute;
    top: 16px;
    left: 20px;
    color: #0041C0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
  }
  
  .login-input:focus,
  .login-input:not(:placeholder-shown) {
    height: 22px;
    padding: 42px 20px 16px;
  }
  
  .login-btn {
    width: 100%;
    height: 60px;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .login-container a, 
  .login-container a:visited  {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
