
.content-container {
  margin: 100px auto;
  max-width: 1120px;
}

.content-container h2 {
  margin-bottom: 50px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}

/* complex offer */

.complex-preview {
  display: flex;
  justify-content: space-between;
}

.complex-preview-mobile {
  display: none;
}

.complex-element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 280px;
  height: 534px;
  border-radius: 20px;
  border: 1px solid #222220;
  padding: 30px 20px;
}

.complex-element a, .complex-element a:visited {
  color: #FFF;
}

.complex-element h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.element-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.element-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.complex-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.complex-content-mobile {
  display: none;
}

.content-element {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.content-element p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.complex-btn {
  position: relative;
  align-self: center;
  display: flex;
  width: 184px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #222220; 
  flex-shrink: 0;
}


@media (max-width: 1145px) {
  .complex-preview {
    display: none;
  }
  
  .complex-preview-mobile {
    display: flex;
    justify-self: start;
  }

  .content-container, .content-container-img {
    margin: 50px auto;
    max-width: 1120px;
  }

  .content-container h2 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px; 
  }

  .complex-element {
    justify-content: flex-start;
    width: 232px;
    height: 442px;
    margin-right: 16px;
    padding: 20px;
  }

  .complex-element h3 {
    font-size: 20px;
  }

  .element-description {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .element-price {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .complex-content {
    gap: 20px;
    margin-bottom: 50px;
  }

  .complex-content img {
    width: 30px;
    height: auto;
  }

  .complex-btn {
    position: absolute;
    top: 402px;
    left: 20px;
  }

}