/* base */

.footer {
  position: relative;
  margin: 100px auto 0;
  max-width: 1081px;
  height: 250px;
  padding-top: 50px;
  padding: 50px 18px 0px 21px;
  border-radius: 20px 20px 0px 0px;
  background: #222220;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.footer h3 {
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; 
}

.footer-offers h3,
.footer-contacts h3  {
  margin-bottom: 30px;
}

.contacts-content, .contacts-content a,
.footer-offers-elements {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
}

/* contacts */

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-content p {
  opacity: 0.6;
}

.contacts-smm {
  position: absolute;
  top: 227px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.contacts-smm a {
  width: 30px;
  height: 30px;
}
/* offers */

.footer-offers-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.footer-offers-elements a {
  color:#FFF;
}

/* calc */
/* for PixelPerfect */
.footer-calc {
  flex-basis: 16%;
}

.footer-calc a, .footer-calc a:visited {
  color: #FFF;
}


/* form + logo */

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.footer-form-btn {
  display: flex;
  width: 114px;
  height: 20px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: #FFF;
  color: #222220;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-form-btn:visited {
  color: #222220;
}

.footer-form-btn:hover {
  color: #FFF;
  background: #222220;
  border: 1px solid #FFF;
}

.footer-form-img {
width: 135px;
height: 40px;
}

/* copyright */

.copy-line {
  display: none;
}

.footer-copyright {
  position: absolute;
  color: #FFF;
  opacity: 0.6;
  right: 20px;
  bottom: 49px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.footer-copyright a, .footer-copyright a:visited {
  color: #FFF;
}

@media (max-width: 1067px) {
  .footer {
    gap: 30px;
  }
}

@media (max-width: 685px) {

  .footer {  
    flex-direction: column;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .contacts-smm {
    position: relative;
    top: auto;
  }


  .footer-form {
    align-items: center;
    order: -3;
    width: 100%;
  }

  .footer-form-btn {
    width: 100%;
    height: 60px;
    padding: 0;
    border-radius: 20px;
  }

  .footer-calc {
    order: -2;
    align-self: start;
  }

  .footer-offers {
    order: -1;
    align-self: start;
  }

  .footer-offers-elements a,
  .contacts-content a,
  .contacts-content p {
    opacity: 0.8;
  }

  .footer-contacts {
    align-self: start;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contacts-smm {
    align-self: center;
    margin-top: 30px;
    position: relative;
    top: auto;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  .copy-line {
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    opacity: 0.1;
    background: #FFF;
  }

  .footer-copyright  {
    position: relative;
    right: auto;
    bottom: auto;
  }

}
