{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% block link %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/flickity.css' %}" media="screen">
</head>
<body>
  <div class="container">
    <div class="nav-overflow-container">
      <nav>
        <div class="nav-container">
          <div class="nav__logo">
            <a href="{% url 'main' %}">
            <img src="{% static 'img/nav_logo.svg' %}" alt="logo">
            </a>
          </div>
          <div class="nav__controls">
            <a href="{% url 'main' %}">Главная</a>
            <a href="" id="services-button">Услуги</a>
            <a href="{% url 'calculator' %}">Калькулятор</a>
            <a href="{% url 'about' %}">О компании</a>
            <a href="{% url 'contacts' %}">Контакты</a>
          </div>
          <div class="nav__btns">
            <a class="nav__application" href="{% url 'form' %}">Заявка</a>
            <a class="nav__lk" href="{% url 'login' %}">
              <img src="{% static 'img/lk.svg' %}" alt="lk">
            </a>
          </div>
        </div>

        <div id="services-dropdown" class="services-dropdown">
          <div class="dropdown-links">
            <a href="{% url 'apartments' %}">Перепланировка квартир</a>
            <a href="{% url 'spaces' %}">Перепланировка нежилых помещений</a>
            <a href="{% url 'buildings' %}">Перепланировка нежилых зданий</a>
            <a href="{% url 'cadastr' %}">Кадастровые работы</a>
          </div>
          <img src="{% static 'img/button_close.svg' %}" alt="close" id="close-services">
        </div>

      </nav>
    </div>
    <div id="overlay" class="overlay"></div>
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>  
  <script src="{% static 'js/nav.js' %}"></script>
  {% block scripts %}{% endblock %}
  
</body>
</html>