{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="login-container">
      <h1>Вход</h1>
      <form id="login-form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="login-input-container">
            <input class="login-input" id="customer-tel" type="tel" placeholder="Номер телефона" name="phone" required>
            <label class="login-input-label" id="customer-tel-label">Номер телефона</label>
            <p class="login-response-text" id="login-response-text"></p>
          </div>
          <div class="login-input-container">
            <input class="login-input" id="customer-password" type="password" placeholder="Пароль" name="password" required>
            <label class="password-input-label" id="customer-password-label">Пароль</label>
            <p class="pass-response-text" id="pass-response-text"></p>
          </div>
          
          <button id="login-btn" class="login-btn" type="button">Войти</button>
      </form>
      <a href="{% url 'password_reset_form' %}">Забыли пароль?</a>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'js/numberMask.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
