
{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
    <div class="login-container">
      <h1>Введите новый пароль</h1>
      <form id="new-pass-form" method="post" action="{% url 'password_reset' uidb64=uidb64 token=token %}">
          {% csrf_token %}
          <input class="login-input" type="password" placeholder="Пароль" name="password" required>
          <button id="new-pass-btn" class="login-btn" type="button">Войти</button>
      </form>
      <a href="{% url 'login' %}">Вернуться назад</a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/password_reset_send.js' %}"></script>
{% endblock %}
