
{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="login-container">
      <h1>Восстановить пароль</h1>
      <form id="request-pass-form" method="post" action="{% url 'password_reset_form' %}">
          {% csrf_token %}
          <input class="login-input" type="email" placeholder="Email" name="email" required>
          <button id="request-pass-btn" class="login-btn" type="button">Запросить пароль</button>
      </form>
      <a href="{% url 'login' %}">Вернуться назад</a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}
