{% extends 'layout.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/user/calculator.css' %}">
{% endblock %}

{% block title %}Калькулятор{% endblock %}

{% block content %}

<div class="calc-description-container">
  <div class="calc-description">
    <h2>Калькулятор</h2>
    <p>Узнайте, сколько будет стоить перепланировка вашей квартиры с помощью нашего калькулятора. Просто введите необходимые параметры и получите оценку сразу!</p>
  </div>
</div>

<div class="calculator-container">
  <div class="options-container">
    <div class="options-article">
      <h3>1. Выберите район</h3>
      <div class="districts-container" id="districtsRadio">
          <input type="radio" id="admiralteysky" name="district" value="Адмиралтейский район">
          <label for="admiralteysky">Адмиралтейский район</label>

          <input type="radio" id="petrogradsky" name="district" value="Петроградский район">
          <label for="petrogradsky">Петроградский район</label>

          <input type="radio" id="vasileostrovsky" name="district" value="Василеостровский район">
          <label for="vasileostrovsky">Василеостровский район</label>

          <input type="radio" id="petrodvortsovy" name="district" value="Петродворцовый район">
          <label for="petrodvortsovy">Петродворцовый район</label>

          <input type="radio" id="viborgsky" name="district" value="Выборгский район">
          <label for="viborgsky">Выборгский район</label>

          <input type="radio" id="primorsky" name="district" value="Приморский район">
          <label for="primorsky">Приморский район</label>

          <input type="radio" id="krasnogvardeysky" name="district" value="Красногвардейский район">
          <label for="krasnogvardeysky">Красногвардейский район</label>

          <input type="radio" id="pushkinsky" name="district" value="Пушкинский район">
          <label for="pushkinsky">Пушкинский район</label>

          <input type="radio" id="moskovsky" name="district" value="Московский район">
          <label for="moskovsky">Московский район</label>

          <input type="radio" id="frunzensky" name="district" value="Фрунзенский район">
          <label for="frunzensky">Фрунзенский район</label>

          <input type="radio" id="nevsky" name="district" value="Невский район">
          <label for="nevsky">Невский район</label>

          <input type="radio" id="centralny" name="district" value="Центральный район" checked>
          <label for="centralny">Центральный район</label>
      </div>
      <div class="districts-container-mobile" id="districts-mobile">
        <select id="district-mobile" name="district">
            <option value="Адмиралтейский район">Адмиралтейский</option>
            <option value="Петроградский район">Петроградский</option>
            <option value="Василеостровский район">Василеостровский</option>
            <option value="Петродворцовый район">Петродворцовый</option>
            <option value="Выборгский район">Выборгский</option>
            <option value="Приморский район">Приморский</option>
            <option value="Красногвардейский район">Красногвардейский</option>
            <option value="Пушкинский район">Пушкинский</option>
            <option value="Московский район">Московский</option>
            <option value="Фрунзенский район">Фрунзенский</option>
            <option value="Невский район">Невский</option>
            <option value="Центральный район" selected>Центральный</option>
        </select>
      </div>

    </div>
    <div class="options-article">
      <h3>2. Площадь</h3>
      <div class="area-container">
          <h4>Площадь</h4>
          <span id="areaValue">50 м²</span>
          <input type="range" id="rangeSlider" min="40" max="200" value="50" step="1">
          <div class="area-description">
            <p>40 м²</p>
            <p>120 м²</p>
            <p>200 м²</p>
          </div>
      </div>
    </div>
    <div class="options-article checkbox-article">
      <h3>3. Исходно-разрешительная документация</h3>
      <div class="checkboxes-container">
        
        <div class="checkbox-element">
          <div class="checkbox-element-header">
          <p>Технический паспорт</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Технический план — это документ, который содержит основные технические характеристики объекта недвижимости и отображает его текущую планировку&nbsp;помещений.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="techPassport" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Поэтажные планы</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <circle cx="10" cy="10" r="9.5" stroke="white"/>
            <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Поэтажные планы представляют собой документацию о расположении помещений как выше, так и ниже. Они необходимы для принятия точных планировочных решений&nbsp;при&nbsp;перепланировке.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="floorPlan" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Акт обследования вентканалов</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Акт обследования вентканалов - это документ, описывающий техническое состояние вентиляционных и дымовых каналов в пределах проектируемого&nbsp;помещения.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="ventChanels" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="options-article">
      <h3>4. Согласование перепланировки квартиры</h3>
      <div class="checkboxes-container">
        
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Согласование с МВК</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Согласование с МВК - это процесс получения официального разрешения на строительно-монтажные работы по перепланировке от Администрации&nbsp;района.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="mvk" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Присоединение лоджии</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Согласование присоединения лоджии - это процесс согласования демонтажа оконно-дверного блока и подоконной части стены с утеплением&nbsp;балкона&nbsp;/&nbsp;лоджии.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="connectBalcony">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Согласование с КГИОП</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Если здание является объектом культурного наследия, требуется согласование с Комитетом по государственному контролю, использованию и охране памятников истории и культуры&nbsp;(КГИОП).</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="kgiop">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Согласование в ПетербургГаз</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">При переносе или замене газоиспользующего оборудования требуется согласование проекта с ПетербургГаз.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="piterGaz">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Согласование проема<br>в капитальной стене</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Для согласования проема в несущей стене требуется усиление проема с получением экспертного&nbsp;заключения.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="holeInWall">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="options-article">
      <h3>5. Ввод в эксплуатацию</h3>
      <div class="checkboxes-container">
        
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Переобмеры перепланировки</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Документальное подтверждение инвентаризации помещения после проведения строительно-монтажных работ по перепланировке и переустройству. Этот документ необходим для получения акта ввода в эксплуатацию от районной&nbsp;МВК.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="measureAfter" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Пакет документов для ввода</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Комплект документов для ввода в эксплуатацию включает акты на скрытые работы, договоры на строительно-монтажные работы и технический надзор, а также документы о вывозе строительных&nbsp;отходов.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="entryComplect" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Получение Акта ввода</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Это завершающий этап, когда помещение с перепланировкой официально вводится в эксплуатацию после получения соответствующего акта от администрации&nbsp;района.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="entryAct" checked>
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="options-article">
      <h3>6. Внесение изменений в ЕГРН</h3>
      <div class="checkboxes-container">
        
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Технический план</p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Технический план - необходим для учета изменений в ЕГРН после перепланировки и включает в себя подробное описание помещения с учетом всех внесенных&nbsp;изменений.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="techPlan">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
        <div class="checkbox-element">
          <div class="checkbox-element-header">
            <p>Внесение изменений в ЕГРН </p>
            <svg class="checkbox-info" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <circle cx="10" cy="10" r="9.5" stroke="white"/>
              <text x="10" y="12" fill="#FFF" text-anchor="middle" font-family="Manrope" font-size="16" font-weight="500" alignment-baseline="middle">i</text>
            </svg>
          </div>
          <div class="advice">
            <svg class="advice-close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <rect width="30" height="30" fill="white"/>
              <circle opacity="0.4" cx="15" cy="15" r="14.5" stroke="#F4A32A"/>
              <path d="M20.8875 12.6592L15.2963 17.8854C15.2177 17.9588 15.1111 18 15 18C14.8889 18 14.7823 17.9588 14.7037 17.8854L9.11254 12.6592C9.03847 12.5849 8.99815 12.4866 9.00007 12.3851C9.00198 12.2835 9.04599 12.1866 9.12282 12.1148C9.19965 12.043 9.3033 12.0019 9.41194 12.0001C9.52057 11.9983 9.62571 12.036 9.7052 12.1052L15 17.0538L20.2948 12.1052C20.3743 12.036 20.4794 11.9983 20.5881 12.0001C20.6967 12.0019 20.8004 12.043 20.8772 12.1148C20.954 12.1866 20.998 12.2835 20.9999 12.3851C21.0019 12.4866 20.9615 12.5849 20.8875 12.6592Z" fill="#F4A32A"/>
            </svg>
            <p class="advice-content">Внесение изменений в ЕГРН - это процесс подачи комплекта документов в Росреестр для официального учета внесенных&nbsp;изменений.</p>
          </div>
          <label class="checkbox-ios">
            <input type="checkbox" id="egrn">
            <span class="checkbox-ios-switch"></span>
          </label>
        </div>
      </div>
    </div>

    <div style="display: none;" class="div">
      <input type="checkbox" id="projectDocs" checked>
      <input type="checkbox" id="ond" checked>
    </div>
  </div>
  <div class="result-container-wrapper">
    <div class="result-container">
      <h3 class="result-district">Район: <span id="resultContentDistrict">Центральный район</span></h3>
      <h3 class="result-area">Площадь: <span id="resultContentArea">50 м²</span></h3>
      <h3 class="result-cost">Стоимость:</h3>
      <p id="resultContentCost">от 80 000 рублей</p>
      <a href="{% url 'form' %}" class="apply-btn">
        <p>Подать заявку</p>
        <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="">
        <img class="arrow-black" src="{% static 'img/arrow_black.svg' %}" alt="">
        <img class="arrow-mobile" src="{% static 'img/arrow_mobile.svg' %}" alt="">
        <img class="arrow-mobile-black" src="{% static 'img/arrow_mobile_black.svg' %}" alt="">
      </a>
    </div>
    <div class="div"></div>
  </div>
</div>

<div class="modal-overlay"></div>
<div class="modal"></div>

{% include 'includes/faq.html' %}
{% include 'includes/bot-form.html' %} 
{% include 'includes/footer.html' %} 

{% endblock %}

{% block scripts %}
<script src="{% static 'js/calcDropdown.js' %}"></script>
<script src="{% static 'js/calculator.js' %}"></script>
<script src="{% static 'js/accordeon.js' %}"></script>
{% endblock %}