{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
{% endblock %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="lk-container">
  <div class="person-container">
    <div class="contact-data">
      <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
      <div>
        <h2>Телефон</h2>
        <p>{{ request.user.phone_number|format_phone }}</p>
      </div>
      <div>
        <h2>Email</h2>
        <p>{{ request.user.email }}</p>
      </div>
    </div>
    <div class="order-data">
      <h3>Услуга</h3>
      <p>{{ user_contract.service_type }}</p>
      <h3>Адрес объекта</h3>
      <p>{{ user_contract.address }}</p>
      <div class="data-and-id">
        <div class="data-container">
          <h3>Дата заключения договора</h3>
          <p>{{ user_contract.contract_date|date:"d.m.Y" }}</p>
        </div>
        <div class="id-container">
          <h3>Номер договора</h3>
          <p>{{ user_contract.contract_number }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="client-stages-container">
    <h2>Cтатус</h2>
    <div class="stage-elements" id="stage-elements" data-service-type="{{ user_contract.service_type }}" data-status="{{ user_contract.status }}">
      {% if user_contract.service_type == 1 %}
        <div class="stage-element {% if user_contract.status == 1 %}stage-element-current{% endif %}">
          <h3>1 этап</h3>
          <p>Заказ исходной документации</p>
        </div>
        <div class="stage-element {% if user_contract.status == 2 %}stage-element-current{% endif %}">
          <h3>2 этап</h3>
          <p>Разработка проекта перепланировки</p>
        </div>
        <div class="stage-element {% if user_contract.status == 3 %}stage-element-current{% endif %}">
          <h3>3 этап</h3>
          <p>Согласование пожарного надзора</p>
        </div>
        <div class="stage-element {% if user_contract.status == 4 %}stage-element-current{% endif %}">
          <h3>4 этап</h3>
          <p>Согласование документации в МВК</p>
        </div>
        <div class="stage-element {% if user_contract.status == 5 %}stage-element-current{% endif %}">
          <h3>5 этап</h3>
          <p>Ввод квартиры в эксплуатацию</p>
        </div>
        <div class="stage-element {% if user_contract.status == 6 %}stage-element-current{% endif %}">
          <h3>6 этап</h3>
          <p>Подготовка технического плана и регистрация в Росреестре</p>
        </div>
      {% elif user_contract.service_type == 2 %}
        <div class="stage-element {% if user_contract.status == 1 %}stage-element-current{% endif %}">
          <h3>1 этап</h3>
          <p>Заказ исходной документации</p>
        </div>
        <div class="stage-element {% if user_contract.status == 2 %}stage-element-current{% endif %}">
          <h3>2 этап</h3>
          <p>Разработка проекта перепланировки</p>
        </div>
        <div class="stage-element {% if user_contract.status == 3 %}stage-element-current{% endif %}">
          <h3>3 этап</h3>
          <p>Согласование пожарного надзора и Роспотребнадзора</p>
        </div>
        <div class="stage-element {% if user_contract.status == 4 %}stage-element-current{% endif %}">
          <h3>4 этап</h3>
          <p>Согласование документации в МВК</p>
        </div>
        <div class="stage-element {% if user_contract.status == 5 %}stage-element-current{% endif %}">
          <h3>5 этап</h3>
          <p>Ввод в эксплуатацию</p>
        </div>
        <div class="stage-element {% if user_contract.status == 6 %}stage-element-current{% endif %}">
          <h3>6 этап</h3>
          <p>Подготовка технического плана и регистрация в Росреестре</p>
        </div>
      {% elif user_contract.service_type == 3 %}
        <div class="stage-element {% if user_contract.status == 1 %}stage-element-current{% endif %}">
          <h3>1 этап</h3>
          <p>Заказ исходной документации</p>
        </div>
        <div class="stage-element {% if user_contract.status == 2 %}stage-element-current{% endif %}">
          <h3>2 этап</h3>
          <p>Разработка проекта перепланировки</p>
        </div>
        <div class="stage-element {% if user_contract.status == 3 %}stage-element-current{% endif %}">
          <h3>3 этап</h3>
          <p>Подготовка документов</p>
        </div>
        <div class="stage-element {% if user_contract.status == 4 %}stage-element-current{% endif %}">
          <h3>4 этап</h3>
          <p>Получение акта рабочей комиссии</p>
        </div>
        <div class="stage-element {% if user_contract.status == 5 %}stage-element-current{% endif %}">
          <h3>5 этап</h3>
          <p>Изготовление технического плана</p>
        </div>
        <div class="stage-element {% if user_contract.status == 6 %}stage-element-current{% endif %}">
          <h3>6 этап</h3>
          <p>Регистрация в Росреестре</p>
        </div>
      {% elif user_contract.service_type == 4 %}
        <div class="stage-element {% if user_contract.status == 1 %}stage-element-current{% endif %}">
          <h3>1 этап</h3>
          <p>Заказ исходной документации</p>
        </div>
        <div class="stage-element {% if user_contract.status == 2 %}stage-element-current{% endif %}">
          <h3>2 этап</h3>
          <p>Выезд на замер инженера</p>
        </div>
        <div class="stage-element {% if user_contract.status == 3 %}stage-element-current{% endif %}">
          <h3>3 этап</h3>
          <p>Формирование технического плана</p>
        </div>
      {% endif %}
    </div>
  </div>

{% include 'includes/footer.html' %} 
{% endblock %}

